<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>142573721021-b4tj1ki50996eqijuf9svic8ca9gcrdm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.142573721021-b4tj1ki50996eqijuf9svic8ca9gcrdm</string>
	<key>API_KEY</key>
	<string>AIzaSyDyTNE_a-RbdTmjKtd3-oGLwY3VFIbNXOs</string>
	<key>GCM_SENDER_ID</key>
	<string>142573721021</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sixamtech.eFood</string>
	<key>PROJECT_ID</key>
	<string>efood-2c55f</string>
	<key>STORAGE_BUCKET</key>
	<string>efood-2c55f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:142573721021:ios:16f15fd7c18f60ed00aed4</string>
</dict>
</plist>