<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>539215917474-l7qk6qc6nsioj5kddhfp39fkntr4tc0f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.539215917474-l7qk6qc6nsioj5kddhfp39fkntr4tc0f</string>
	<key>API_KEY</key>
	<string>AIzaSyBzqjwcQP-dOgeXpzfHV12I14qKzv7MWpE</string>
	<key>GCM_SENDER_ID</key>
	<string>539215917474</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mithu.pfconline</string>
	<key>PROJECT_ID</key>
	<string>original-pfc</string>
	<key>STORAGE_BUCKET</key>
	<string>original-pfc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:539215917474:ios:953e9226cbfd5232dc82fb</string>
</dict>
</plist>